* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --topic-color: rgb(0, 94, 199);
  --bgcolor : rgb(179, 178, 178);
  --boxcolor : rgba(143, 140, 140, 0.356);
  --sample2:rgb(0 0 0 / 30%);
  --sample3:rgb(0 0 0 / 95%);


}

body {
  background-color: rgb(0, 16, 37);
  scroll-behavior: smooth;
  min-width: 410px;
  position: relative;
}

.container {
  width: 100%;
  height: 100vh;
  /* background-image: url("../img/helloworld.jpg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  color: white;
}


figure {
  width: 70px;
  aspect-ratio: 1/1;
  margin-left: 2%;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
}


textarea {
  width: 100%;
}

.main {
  flex: 80%;
  padding: 20px 50px;
  min-height: 100vh;
  position: relative;
}

ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: auto;
  transition: width 150ms ease-in;
}


li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}


ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

li a:last-child {
  margin-right: 10px;
}

ul span {
  color: purple;
}



.welcome {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome a {
  text-decoration: none;
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

#logout:hover {
  background-color: rgba(8, 59, 80, 0.897);
}
table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow-x: auto;
}

th,
td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}
td{
  color: white;
}

th {
  background-color: #b1bfcf;
}
tr:nth-of-type(odd){
  background-color: #13325567;

}
tr:nth-of-type(even) {
  background-color: #b1bfcf67;
}

tr td:first-child {
  text-align: center;
}

tr td:nth-child(2) {
  width: 50px;
  height: 50px;
  padding: 2px;
}


#user {
  font-size: 15px;
  color: rgb(51, 214, 51);
}

.user-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

form button,
.more {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 30ms ease;
}

.btn_more {
  position: relative;
  z-index: 10;
}

.accept,
.more,
#btnC, #applyChangesBtn {
  padding: 7 11px;
  border-radius: 6px;
  background-color: rgb(23, 173, 23);
  color: white;
  font-size: 15px;
  transition: all 100ms ease;
}

#btnC {
  font-size: smaller;
}
#btnC input {
  outline: none;
  border: none;
}
.reject {
  padding: 7 11px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-size: 18px;
  font-weight: bold;
  transition: all 100ms ease;
}

.reject:hover {
  background-color: rgb(202, 19, 19);
}

.accept:hover,
.more:hover,
#btnC:hover, #applyChangesBtn:hover {
  background-color: rgb(25, 129, 25);
}

.addMore,
.pop_box2 {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  background-color: #b8b8b885;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(105, 88, 88);
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-around;
}

.card {
  background-color: var(--sample2);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px 30px;
  gap: 15px;
  border-radius: 10px;
  width: 300px;
}

.userImage {
  margin: auto;
  width: 100px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.userImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(4px 4px 15px white);
}

.label {
  display: inline;
  font-weight: bold;
}

#addC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#addC input {
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.pos {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.pos input {
  align-self: left;
  width: 60%;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
}

hr {
  margin: 5px;
}

textarea {
  border-radius: 5px;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
textarea {
  padding-left: 15px;
}

/* Style for the modal container */
.visible {
  display: block;
}

.cancel,
.edit {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 100ms ease;
  font-size: small;
}

.cancel:hover {
  background-color: #e9e9e9d0;
}

.edit {
  align-self: baseline;
}
.more {
  position: absolute;
  right: 5%;
  top: 2%;
}

.namewidth {
  width: 150px;
}

#title {
  text-align: center;
}

#candidate-card {
  display: flex;
  flex-direction: column;
}

select {
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 5px;
}

.info button {
  margin: auto;
}

.elections {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.eCard {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  gap: 3px;
}

.modifybtns {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.edit {
  background-color: #00abe4;
  padding: 7 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: all 100ms ease;
}

.edit:hover {
  background-color: #0483addc;
}

.pop_box2 {
  display: none;
}
.main-container {
  padding: 10px;
}

.currentElections {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}
.currentElections h2{
  color: white;
}
main{
  color: white;
  padding: 25px;
  margin-top: 10px;
}

.result{
  background-color: rgba(143, 140, 140, 0.356);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.currentElectionBox {
  background-color: var(--boxcolor);

  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.overview {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--boxcolor);
  padding: 10px;
  border-radius: 8px;
  gap: 5px;
}

.candidateCardCover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.candidateCard {
  background-color: rgba(0,0,0,.6);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
}

.user-image {
  width: 100px;
  height: 100px;
  align-self: center;
  overflow: hidden;
}

.user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.active {
  color: var(--topic-color);
  position: relative;
  transition: all 200ms ease;
  border-bottom: 1px solid var(--topic-color);
}
.fa-bars{
  display: none;
  position: absolute;
  top:7%;
  left:4%;
  cursor: pointer;
  color: white;
  width: 30px;
  aspect-ratio: 1/1;
}

.fa-x{
  display: none;
  position: absolute;
  top:4%;
  left:35%;
  cursor: pointer;
  color: white;
  z-index: 3;
  width: 30px;
  aspect-ratio: 1/1;
  transition: transform 250ms ease-in;
  transform: translateX(-210px);
  transition-delay: 100ms;
}


.inactive {
  background-color: rgba(255, 255, 0, 0.87);
}

.Ongoing {
  background-color: rgba(26, 206, 26, 0.733);
}

.closed {
  background-color: rgba(255, 0, 0, 0.795);
}

@media only screen and (max-width: 650px) {
  .main {
    padding: 10px 5px;
    font-size: small;
  }

  nav {
    flex-direction: column;
  }



  #title {
    font-size: 20px;
  }

  .accept,
  .reject {
    padding: 3px 7px;
    font-size: small;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto;
  }
  .fa-bars{
    display: inline-block;
  }

  .menu li{
    padding: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.678);
  }

  .menu li a {
    width: 100%;
    line-height: 50px; 
    font-size: 20px;
  }

  .menu {
    z-index: 2;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    width: 0px;
    background-color: var(--sample3);
    overflow: hidden;
    padding-top: 15%;
    border-radius: 50px 50px 50px 42px / 0px 25px 25px 2px;
  }
}
