@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Raleway', sans-serif;
}

:root {
  --body-color :rgb(0, 16, 37);
  --topic-color: rgb(0, 94, 199);
  --bgcolor : rgb(179, 178, 178);
  --boxcolor : rgba(143, 140, 140, 0.356);
  --sample2:rgb(0 0 0 / 30%);
  --sample3:rgb(0 0 0 / 95%);
}

/* Define scrollbar width and color */
::-webkit-scrollbar {
  width: 10px;
  background-color: #7a7a7a;
}

/* Handle part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--sample2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--body-color);
}

/* Track part of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #3b5875;
}

/* Button arrows (optional) */
::-webkit-scrollbar-button {
  display: none;
}

/* Corner between vertical and horizontal scrollbar (optional) */
::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

body {
  background-color: var(--body-color);
  scroll-behavior: smooth;
  min-width: 410px;
  position: relative;
}

p{
  font-weight: 500;
}
.container {
  width: 100%;
  height: 101vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: white;
}

figure {
  width: 70px;
  aspect-ratio: 1/1;
  margin-left: 2%;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
}


textarea {
  width: 100%;
}

.main {
  flex: 80%;
  padding: 20px 50px;
  min-height: 100vh;
  position: relative;
}
.main h3{
  font-size: 20px;
  color: white;
}
ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: auto;
}


li {
  list-style-type: none;
  width: 100%;
  text-align: center;
}


ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

li a:last-child {
  margin-right: 10px;
}

ul span {
  color: purple;
}



.welcome {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome a {
  text-decoration: none;
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

#logout:hover {
  background-color: black;
}
table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow-x: auto;
  padding: 4px;
}

th,
td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}
td{
  color: white;
}

.table-container th {
  background-color: #b1bfcf;
}
.table-container tr:nth-of-type(odd){
  background-color: #13325567;

}
.table-container tr:nth-of-type(even) {
  background-color: #b1bfcf67;
}

tr td:first-child {
  text-align: center;
}

tr td:nth-child(2) {
  width: 50px;
  height: 50px;
  padding: 2px;
}

td form{
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultTable{
  width: auto;
  margin-right: auto;
}

#resultTable td{
  text-align: center;
}
#user {
  font-size: 15px;
  color: rgb(51, 214, 51);
}

form button, .publishResult,.deleteResult,
.more {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 30ms ease;
}

.btn_more {
  position: relative;
  z-index: 10;
}
.bold{
  font-weight: 800;
}
.accept,
.more,
#btnC, #applyChangesBtn, .submit {
  padding: 7 11px;
  border-radius: 5px;
  background-color: rgb(23, 173, 23);
  color: white;
  font-size: 17px;
  transition: all 100ms ease;
}

#btnC {
  font-size: smaller;
}
#btnC input, #searchInput ,#searchInput2 {
  outline: none;
  border: none;
}
.reject {
  padding: 7 11px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: all 100ms ease;
}

.reject:hover {
  background-color: rgb(202, 19, 19);
}

.accept:hover,
.more:hover,
#btnC:hover, #applyChangesBtn:hover, .submit:hover {
  background-color: rgb(25, 129, 25);
}

.addMore,
.pop_box2 {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  background-color:#b8b8b8db;
  padding: 20px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-around;
}

.card {
  /* background-color: var(--sample2); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px 30px;
  gap: 15px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid gray;
}

.userImage {
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.userImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add input{
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.cover{
  flex: 1;
}
.add{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#addC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#addC input {
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.pos {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.pos input {
  align-self: left;
  width: 60%;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
}

hr {
  margin: 5px;
}

textarea {
  border-radius: 5px;
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}
textarea {
  padding-left: 15px;
}

/* Style for the modal container */
.visible {
  display: block;
}

.cancel,
.edit {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 100ms ease;
  font-size: small;
}

.cancel:hover {
  background-color: #e9e9e9d0;
}

.edit {
  align-self: baseline;
}

.namewidth {
  width: 150px;
}

#title {
  text-align: center;
}
.messagejs{
  font-size: 12px;
  color: red;
  }
#candidate-card {
  display: flex;
  flex-direction: column;
}



select {
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 5px;
}

.info button {
  margin: auto;
}

.elections {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.eCard {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  gap: 3px;
  color: white;
  font-weight: 100;
}

.modifybtns {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.edit {
  background-color: #00abe4;
  padding: 7 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: all 100ms ease;
}

.edit:hover {
  background-color: #0483addc;
}

.pop_box2 {
  display: none;
}
.main-container {
  padding: 10px;
}

.currentElections {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}
.currentElections h2{
  color: white;
}
main{
  color: white;
  padding: 20px 50px;
  margin-top: 10px;
}
#image{
  background-color: white;
  padding: 10px 12px;
  border-radius: 5px;
}
.result{
  background-color: rgba(143, 140, 140, 0.356);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
  width: max-content;
}
.currentElectionBox {
  background-color: var(--boxcolor);

  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.publishResult,.deleteResult{
  margin-right: auto;
  margin-left: 1px;
  border-radius: 5px;
  color: white;
  background-color: #00abe4;
  padding: 5px 12px;
  font-size: 16px;
  transition: all ease 100ms;
}
.publishResult:hover{
  background-color: #028ab8;

}
.deleteResult{
  background-color: red;
  margin-left: auto;
  margin-right: 0;
}
.deleteResult:hover{
  background-color: rgb(190, 0, 0);

}
.overview {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--boxcolor);
  padding: 10px;
  border-radius: 8px;
  gap: 5px;
}

.candidateCardCover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.candidateCard {
  background-color: rgba(0,0,0,.6);
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  aspect-ratio: 2/2.5;
}

.user-image {
  width: 90px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  align-self: center;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
}

.closedElections{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.eTitle{
  font-weight: 800;
  font-size: larger;
}
.addVoter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  line-height: 35px;
}
#searchInput, #searchInput2{
  margin-left: auto;
  border-radius: 3px;
  padding: 5px;
  line-height: 10px;
}
.active {
  color: var(--topic-color);
  position: relative;
  transition: all 200ms ease;
  border-bottom: 1px solid var(--topic-color);
}
.fa-bars{
  /* display: none; */
  position: absolute;
  top:11%;
  left:3%;
  cursor: pointer;
  color: white;
  width: 30px;
  aspect-ratio: 1/1;
}
.published ,.notPublished{
  width: 100%;
  text-align: center;
  padding: 5px ;
}
.published{
  background-color: rgba(226, 226, 37, 0.788);
}
.notPublished{
  background-color: #00abe4;
}

.fa-x{
  /* display: none; */
  position: absolute;
  top: 3%;
  left: 75%;
  cursor: pointer;
  color: white;
  z-index: 10;
  width: 20px;
  aspect-ratio: 1/2;

}
.sidebar{
  z-index: 2;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  flex-direction: column;
  width: 200px;
  background-color: var(--sample3);
  display: none;
  padding-top: 20%;
  min-height: 200vh;
  overflow: visible;
}
ol{
  list-style-type: decimal;
}

.sidebar li{
  padding: 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.678);
  transition-delay: 600ms;
}

.sidebar li a {
  width: 100%;
  line-height: 45px; 
  font-size: 16px;
}

.inactive {
  background-color: rgb(255 255 0 / 76%);
}

.Ongoing {
  background-color: rgba(26, 206, 26, 0.733);
}

.closed {
  background-color: rgba(255, 0, 0, 0.795);
}

@media only screen and (max-width: 650px) {
  .menu{
    display: none;
  }
  .main {
    padding: 10px 5px;
    font-size: small;
  }

  nav {
    flex-direction: column;
  }

  #title {
    font-size: 20px;
  }

  .accept,
  .reject {
    padding: 3px 7px;
    font-size: small;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 600px) {

  .fa-bars{
    display: block;
    z-index: 100;
  }

}
