@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Raleway', sans-serif;
}

:root {
  --body-color :rgb(0, 16, 37);
  --topic-color: rgb(0, 94, 199);
  --bgcolor : rgb(179, 178, 178);
  --boxcolor : rgba(143, 140, 140, 0.356);
  --sample2:rgb(0 0 0 / 30%);
  --sample3:rgb(0 0 0 / 95%);
}

/* Define scrollbar width and color */
::-webkit-scrollbar {
  width: 10px;
  background-color: #7a7a7a;
}

/* Handle part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--sample2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--body-color);
}

/* Track part of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #3b5875;
}

/* Button arrows (optional) */
::-webkit-scrollbar-button {
  display: none;
}

/* Corner between vertical and horizontal scrollbar (optional) */
::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

body {
  background-color: var(--body-color);
  scroll-behavior: smooth;
  min-width: 410px;
  position: relative;
  display: flex;
  flex-direction: column;
}

p{
  font-weight: 500;
}
.container {
  width: 100%;
  height: 101vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
}

header {
  width: 100%;
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  color: white;
  background-color: rgb(0 11 22 / 75%);
}

figure {
  width: 70px;
  aspect-ratio: 1/1;
  margin-left: 2%;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  width: 100%;
  height: auto;
}


textarea {
  width: 100%;
}

.main {
  flex: 80%;
  padding: 20px 50px;
  min-height: 100vh;
  position: relative;
  padding-top: 0;
}
.main h3{
  font-size: 20px;
  color: white;
}
ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  margin-left: auto;
}


li {
  list-style-type: none;
  width: 100%;
  text-align: center;
  transition: all ease 200ms ;
}
ul li:hover a{
  color: var(--topic-color);
}

ul li a {
  display: grid;
  gap: 8px;
  padding: 10px;
  text-decoration: none;
  color: white;
}

li a:last-child {
  margin-right: 10px;
}

ul span {
  color: purple;
}



.welcome {
  display: flex;flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.welcome a {
  text-decoration: none;
  background-color: transparent;
  padding: 3px 5px;
  border-radius: 5px;
  color: white;
  border: 1px solid white;
}

#logout:hover {
  background-color: black;
  color: var(--topic-color);
}
table {
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow-x: auto;
  padding: 4px;
}

th,
td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}
td{
  color: white;
}

.table-container th {
  background-color: #b1bfcf;
}
.table-container tr:nth-of-type(odd){
  background-color: #13325567;

}
.table-container tr:nth-of-type(even) {
  background-color: #b1bfcf67;
}

tr td:first-child {
  text-align: center;
}

tr td:nth-child(2) {
  width: 50px;
  height: 50px;
  padding: 2px;
}

td form{
  display: flex;
  justify-content: center;
  align-items: center;
}

#resultTable{
  width: auto;
  margin-right: auto;
}

#resultTable td{
  text-align: center;
}
#user {
  font-size: 15px;
  color: rgb(51, 214, 51);
}

form button, .publishResult,.deleteResult,
.more {
  outline: none;
  border: none;
  padding: 5px 10px;
  margin-left: 15px;
  cursor: pointer;
  transition: transform 30ms ease;
}

.btn_more {
  position: relative;
  z-index: 10;
}
.bold{
  font-weight: 800;
}
.accept,
.more,
#btnC, #applyChangesBtn, .submit {
  padding: 7 11px;
  border-radius: 5px;
  background-color: rgb(23, 173, 23);
  color: white;
  font-size: 17px;
  transition: all 100ms ease;
  min-height: 30px;
  font-weight: 500;
}

#btnC {
  font-size: smaller;
}
#btnC input, #searchInput ,#searchInput2 {
  outline: none;
  border: none;
}
.reject {
  padding: 7 11px;
  border-radius: 6px;
  background-color: red;
  color: white;
  font-size: 15px;
  font-weight: bold;
  transition: all 100ms ease;
}

.reject:hover {
  background-color: rgb(202, 19, 19);
}

.accept:hover,
.more:hover,
#btnC:hover, #applyChangesBtn:hover, .submit:hover {
  background-color: rgb(25, 129, 25);
}

.addMore,
.pop_box2 {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  background-color:#b8b8b8db;
  padding: 20px 30px;
  border-radius: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  display: none;
  opacity: 0;
  transition-property: overlay display opacity;
  transition-duration: 700ms;
  transition-behavior: allow-discrete;
  translate:0 25vh;
}

/* .addmore::backdrop , .pop_box2::backdrop{
  opacity: 0;
  transition-property: overlay display opacity;
  transition-duration: 700ms;
  transition-behavior: allow-discrete;
  translate:0 25vh;

  background-image: linear-gradient(45deg,red,blue);
}
.visible::backdrop{
  opacity: 0.75;

}
@starting-sytle{
  .visible::backdrop{
    opacity: 0;
  }
} */

.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 15px;
  justify-content: space-around;
}

.card {
  /* background-color: var(--sample2); */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 15px 30px;
  gap: 15px;
  border-radius: 10px;
  width: 300px;
  border: 1px solid gray;
}

.userImage {
  width: 100px;
  aspect-ratio: 1;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.userImage img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add input{
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 100%;
}

.cover{
  flex: 1;
}
.add{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
#addC {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

#addC input {
  padding: 5px;
  border-radius: 6px;
  outline: none;
  border: none;
}
.pos {
  display: flex;
  gap: 3px;
  flex-direction: column;
}
.pos input {
  align-self: left;
  width: 60%;
  padding: 6px;
  border-radius: 5px;
  outline: none;
  border: none;
}

hr {
  margin: 5px;
}

textarea {
  padding-left: 15px;
  border-radius: 5px;
}
textarea:focus{
  border: #00abe4;
  outline: 1px solid var(--bgcolor);
}

.btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

/* Style for the modal container */
.visible {
  display: block;
  opacity: 1;
  translate: 0 0;
  @starting-style{
    opacity: 0;
    translate:0 -25vh;
  }
}


.cancel,
.edit {
  outline: none;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 100ms ease;
  font-size: 17px;
  min-width: 75px;
  font-weight: 500;
}

.cancel:hover {
  background-color: #e9e9e9d0;
}

.edit {
  align-self: baseline;
}

.namewidth {
  width: 150px;
}

#title {
  text-align: center;
}
.messagejs{
  font-size: 16px;
  color: red;
  }
#candidate-card {
  display: flex;
  flex-direction: column;
}



select {
  padding: 4px 20px;
  text-transform: capitalize;
  border-radius: 5px;
}

.info button {
  margin: auto;
}

.elections {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.eCard {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  gap: 3px;
  color: white;
  font-weight: 100;
}

.modifybtns {
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.edit {
  background-color: #00abe4;
  padding: 7 14px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  color: white;
  transition: all 100ms ease;
}

.edit:hover {
  background-color: #0483addc;
}

.pop_box2 {
  display: none;
}
.main-container {
  padding: 10px;
}

.currentElections {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}
.currentElections h2{
  color: white;
}
main{
  color: white;
  padding: 20px 50px;
  margin-top: 10px;
}
#image{
  background-color: white;
  padding: 10px 12px;
  border-radius: 5px;
}
.result{
  background-color: rgba(143, 140, 140, 0.356);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-top: 10px;
  width: max-content;
}
.currentElectionBox {
  background-color: var(--boxcolor);

  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}
.publishResult,.deleteResult{
  margin-right: auto;
  margin-left: 1px;
  border-radius: 5px;
  color: white;
  background-color: #00abe4;
  padding: 5px 12px;
  font-size: 16px;
  transition: all ease 100ms;
}
.publishResult:hover{
  background-color: #028ab8;

}
.deleteResult{
  background-color: red;
  margin-left: auto;
  margin-right: 0;
}
.deleteResult:hover{
  background-color: rgb(190, 0, 0);

}
.overview {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: var(--boxcolor);
  padding: 10px;
  border-radius: 8px;
  gap: 5px;
}

.candidateCardCover {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.candidateCard {
  background-color: rgba(0,0,0,.6);
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  width: fit-content;
  height: auto;
}

.user-image {
  width: 90px;
  aspect-ratio: 1/1;
  border-radius: 5px;
  align-self: center;
  overflow: hidden;
  cursor: pointer;
  overflow: hidden;
  object-fit: cover;
}

.closedElections{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
.eTitle{
  font-weight: 800;
  font-size: larger;
}
.addVoter{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  line-height: 35px;
}
#searchInput, #searchInput2{
  margin-left: auto;
  border-radius: 3px;
  padding: 5px;
  line-height: 10px;
}
.active {
  color: var(--topic-color);
  position: relative;
  transition: all 200ms ease;
  border-bottom: 1px solid var(--topic-color);
}

.published ,.notPublished{
  width: 100%;
  text-align: center;
  padding: 5px ;
}
.published{
  background-color: rgba(226, 226, 37, 0.788);
}
.notPublished{
  background-color: #00abe4;
}

footer {
  /* position: absolute; */
  /* inset: 100% 0 0 0; */
  height: max-content;
  width: 100%;
  margin-top: 20px;
  background-color: rgb(0 11 22 / 75%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  flex-wrap: wrap;  
  gap: 20px;
  padding:15px 70px ;
}
.box{
  height: 100%;
}
.box p, .box a{
  color: gainsboro;
}
.box:last-child{
  align-self: flex-start;
  transform: translateX(-60px);

}
.links{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.links .social-icon{
  font-size: 25px;
  color: white;
  transition: all 200ms ease;
}
.links .social-icon:hover{
  transform: scale(1.1);

}
.feedback{
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in;
}
.feedback:hover{
  color: var(--topic-color);
  transform: translateX(5px);
}
.feedback_delete{
  border-radius: 6px;
  border: none;
  cursor: pointer;
  outline: none;
  color: white;
  background-color: red;
  padding: 3px 7px;
}
.feedback_form{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.footer_links , .footer_links li, .footer_links li a{
  all: unset;
  color: gainsboro;
  transition: all 200ms ease-in;
}
.footer_links li:hover{
  transform: translateX(5px);
}
.footer_links li{
  cursor: pointer;
}
.footer_links li{
  display: flex;
  flex-direction: column;
}
.box:nth-child(2){
  display: flex;
  gap: 20px;
}
.comments{
  color: white;
}
.comments-cover{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}
.comments_box{
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(0 0 0 / 95%);
}
.user_image_container{
  width: 50px;
  aspect-ratio: 1;
  display: inline-block;
}
.user_image_container img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info_cover{
  width: 100%;
  display: flex;
  gap: 10px;
}
.gray{
  font-size: small;
  color: #b1bfcf;
}
.timestamp{
  color: gray;
}
.sidebar{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: fixed;
  top: 0%;
  left: -180px;
  padding-top: 10%;
  height: 100vh;
  z-index: 5;
  background-color: #0a0a0a;
  display: block;
  overflow: hidden;
  transition: all 300ms ease;
  width: 180px;
}
.sidebar li{
  text-align: left;
  margin-top: 10px;
  transition: all 300ms ease;
  border-bottom: 1px solid gray;
  padding-left: 20px;

}
.sidebar li:first-child{
  margin-top: 30px;
}
.sidebar li a{
  transition: all 300ms ease;
  width: 100%;
  padding-bottom:25px;
}
.sidebar li a:hover{
  transform: translateX(15px);
}
.fa-bars, .fa-x{
  width: 28px;
  aspect-ratio: 1;
  cursor: pointer;
  transition: all 300ms ease;

}
.fa-bars{
  position: absolute;
  top: 27px;
  left: 2%;
}
.fa-x{
  margin-left: 70%;
  margin-bottom: 25px;

}
.fa-x:hover, .fa-bars:hover{
  transform: scale(1.1);
}
.inactive {
  background-color: rgb(255 255 0 / 76%);
}

.Ongoing {
  background-color: rgba(26, 206, 26, 0.733);
}

.closed {
  background-color: rgba(255, 0, 0, 0.795);
}

@media only screen and (max-width: 650px) {
  .menu{
    display: none;
  }
  .main {
    padding: 10px 5px;
    font-size: small;
  }

  nav {
    flex-direction: column;
  }

  #title {
    font-size: 20px;
    margin-left: 20px;
  }
  .result{
    font-size: small  ;
  }
  .user-image{
    width: 50px;
  }
  .accept,
  .reject {
    padding: 3px 7px;
    font-size: small;
    margin-bottom: 5px;
  }
  footer{
    padding: 10px;
    font-size: small;
  }
  .box:last-child{
    transform: translateX(0);
  }
}

@media only screen and (max-width: 600px) {

  .fa-bars{
    display: block;
    z-index: 100;
  }

}
