@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 *{
margin : 0;
padding : 0; 
box-sizing : border-box;
font-family: 'Raleway',sans-serif;
 } 

 .container{
    width: 100%;
    height: 100vh;
    background-image: url("../img/vote.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

 }

 form{
    width: 25%;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    color: black;
     box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
     backdrop-filter: blur( 7px );
     border-radius: 10px;
     border: 1px solid rgba( 255, 255, 255, 0.18 );
 }
label{
    font-size: 15px;
    display: inline;
    font-weight: bold;
}
#image{
    background-color: white;
    padding: 10px 12px;
    border-radius: 5px;
}
.cover{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
 form input{
    padding: 10px 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    flex: 1;
 }
 button{
    all: unset;
    text-align: center;
    background-color:#0083cfda;
    color: white;
    margin: auto;
    padding: 5px 40px;
    border-radius:30px;
    font-weight: 500;
    cursor: pointer;
 }
 button:hover{
    background-color:#0679bbfa;

 }
 select{
    all: unset;
    border: 1px solid black;
        border-radius: 5px;
    padding: 5px;
    color: black;
}
option{
    font-size: large;
}
.uploadImage{
    font-size: 12px;
    border: none;
    padding: 5px;
}
h3{
    text-align: center;
    margin-bottom: 10px;
}
#form{
    transition: all 150ms ease;
}


.messagejs{
font-size: 12px;
color: red;
}
#error{
    font-size: 17px;
    color: red;
}