@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0; /* Optional: Remove any default margins */
}
body{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(0 0 0 / 94%);
}
.container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90%;
    border-radius: 6px;
    overflow: hidden;
}

form {
    flex: 1;
    min-width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px;
    background-color: rgb(229, 229, 230);
    padding: 1rem;
}

.box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    color: white;
    flex-direction: column;
}

label {
    font-size: 15px;
    display: inline;
    font-weight: bold;
}

#image {
    background-color: white;
    padding: 10px 12px;
    border-radius: 5px;
}

.cover {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form input {
    padding: 10px 30px;
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid rgb(179, 179, 179);
    flex: 1;
}

button , p a{
    all: unset;
    text-align: center;
    background-color: #0061cfea;
    color: white;
    padding: 5px 40px;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    transition: all 200ms ease;

}

a:hover , #submit:hover{
   background-color: #022b9bfa;

}

.uploadImage {
    font-size: 12px;
    border: none;
    padding: 5px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
}


.messagejs {
    font-size: 16px;
    color: red;
}

#error {
    font-size: 17px;
    color: red;
}

p {
    text-transform: capitalize;
    font-style: italic;
    margin-top: 50px;
    font-size: 20px;
    text-align: center;
    display: block  ;
}

span{
    color: purple ;
    font-size: 30px;
}
@media only screen and (max-width:800px) {
    .container{
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }
    form{
        margin-top: 40px;
        width: 60%;
    }
    .box{
        justify-content: unset;
    }
}