@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: sans-serif; */
   /* font-family: 'Times New Roman', Times, serif; */
   font-family:'Raleway',sans-serif;
 }

 :root {
  --body-color :rgb(0, 16, 37);
  --topic-color: rgb(0, 94, 199);
  --bgcolor : rgb(179, 178, 178);
  --boxcolor : rgba(143, 140, 140, 0.356);
  --sample2:rgb(0 0 0 / 30%);
  --sample3:rgb(0 0 0 / 95%);
  --defPadding: 20px 50px;
 }

/* Define scrollbar width and color */
::-webkit-scrollbar {
  width: 10px;
  background-color: #7a7a7a;
}

/* Handle part of the scrollbar */
::-webkit-scrollbar-thumb {
  background-color: var(--sample2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--body-color);
}

/* Track part of the scrollbar */
::-webkit-scrollbar-track {
  background-color: #3b5875;
}

/* Button arrows (optional) */
::-webkit-scrollbar-button {
  display: none;
}

/* Corner between vertical and horizontal scrollbar (optional) */
::-webkit-scrollbar-corner {
  background-color: #0a0a0a;
}

 body {
   width: 100%;
   min-height: 100ch;
   position: relative;
   overflow-x: hidden;
   background-color: rgb(0, 16, 37);
   color: white;
   font-family: 'Times New Roman', Times, serif;
 }

 header {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 30px;
 }

 nav{
  display: flex;
 }
 figure {
   width: 200px;
   aspect-ratio: 1/1;
   border-radius: 50%;
   overflow: hidden;
 }

 figure img {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .welcome {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 5px;

 }

 #logout:hover {
  /* background-color: rgba(8, 59, 80, 0.897); */
  background-color: #0a0a0a;
}

.cancel:hover{
  background-color: rgb(201, 201, 201);
}
.active{
  border-bottom: 1px solid var(--topic-color) ;
  color: var(--topic-color);
}
 .welcome a {
   text-decoration: none;
   background-color: transparent;
   padding: 4px 8px;
   border-radius: 5px;
   color: black;
 }

 
ul {
  display: flex;
  align-items: center;
}

 li {
  list-style-type: none;
  display: block;
  width: 100%;
  text-align: center;
}

ul li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
  width: max-content;
}

li a:last-child {
  margin-right: 30px;
}

main{
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 10px;
}
.profile{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 60px;
  position: relative;
}

button{
  border: none;
  outline: none;
  padding: 7px 12px;
}

.profile button, #cbtn{
  border-radius: 7px;
  cursor: pointer;
  background-color: var(--topic-color);
  padding: 10px;
  color: white;
  
}
.fa-pen{
  color: white;
}


#cbtn{
  font-size: 15px;
}
.fa-solid{
  color: white;
  margin-right: 10px;
  text-align: center ;
  cursor: pointer;
}
.setting{
  position: absolute;
  top: 10%;
  font-size: larger;
  left: 10%;
}

.info{
  width:100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.info span{
  color: var(--topic-color);
}
.data{
  color: white;
}

.dataCover{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.closedElections{
  margin-top: 10px;
}
.result{
  display: flex;
  flex-direction: column;
  gap: 5px;
padding: 10px;
border-radius: 5px;
background-color: var(--boxcolor);
}
 #title {
   color: white;
   font-size: 25px;
   text-align: center;
 }

 #logout {
   background-color: transparent;
   border: 1px solid white;
   color: white;
   font-size: small;
 }

 form{
  color: black;
 }

 #user {
   color:  rgba(4, 194, 4, 0.979);
   display: inline-block;
   text-transform: capitalize;
   font-size: 16px;
   text-align: center;
 }

 #adC {
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
 }

 #adC input,
 .pop_box2 input {
   outline: none;
   border: none;
   padding: 6px;
   border-radius: 5px;
   width: 100%;

 }

 .btns {
   align-self: center;
 }

 .container {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 2fr;
   /* gap: 20px; */
 }

 .main {
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   gap: 10px;
 }



 .voteBtn {
   margin: auto;
   padding: 5px 20px;
   background-color: rgba(10, 204, 10, 0.884);
   cursor: pointer;
   border-radius: 10px;
   outline: none;
   color: white;
   border: none;
   font-weight: bold;
 }

 .cardContainerCover h2 {
   display: block;
   width: 100%;
   font-size: 20px;
 }


h3{
  font-size: 22px;
  padding-top: 10px;
}
 .cardContainerCover {
  background-color: var(--boxcolor);
  margin-top: 10px;
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-radius: 10px;
   flex-direction: column;
   padding: 10px;

 }
 .upcomingElection{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
 }

.eid{
  width: 100%;
  background-color: rgb(182, 193, 206);
  color: black;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  padding: 5px 40px;
  border-radius: 5px;  
 }
 .cardContainer {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   padding: 10px 30px;
   border-radius: 10px;
   justify-content: flex-start;
 }

 .eCard {
   width: fit-content;
   aspect-ratio: 1/1;
   background-color: rgb(7 34 65);
   display: flex;
   justify-content: space-around;
   flex-direction: column;
   gap: 5px;
   padding: 10px;
   border-radius: 10px;
   color: white;
 }

 form {
   align-self: center;
 }

 .labelVote{
  color: white;
 }

 .voteSection {
   padding: 7px;
 }

 .voteSection select {
   text-transform: capitalize;
 }

 .voteSection button {
   display: block;
   margin-top: 10px;
 }

 .elections {
   padding: var(--defPadding);
   display: flex;
   flex-direction: column;
  gap: 5px;
 }

 .user-image {
   width: 100px;
   height: 100px;
   align-self: center;
 }

 .user-image img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 10px;
 }

 .card {
   min-width: fit-content;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   background-color: rgb(129, 151, 177);
   margin: 5%;
   align-items: left;
   color: rgb(12, 46, 90);
   font-weight: 600;
   border-radius: 5px;
   padding: 10px;
 }

 .username {
   text-transform: capitalize;
 }

 .items {
   display: flex;
   flex-direction: column;
   gap: 10px;
 }

 .card {
   position: relative;
   min-width: 340px;
 }

 .fa-regular {
   position: absolute;
   top: 5%;
   right: 5%;
   cursor: pointer;
   font-size: 25px;
 }

 #error,
 #passwordError {
   display: none;
   padding: 5px;
   border-radius: 8px;
   border: 1px solid red;
   color: red;

 }

 .card .img {
   width: 100px;
   aspect-ratio: 1/1;
   margin: auto;
   border-radius: 50%;
   overflow: hidden;
 }

 .alreadyVoted {
   color: rgba(4, 194, 4, 0.979);
   padding: 5px;
  }
  .pendinguser{
    color: yellow;
    padding: 5px;
}
 .card .img img {
   width: 100%;
   height: 100%;
   object-fit: cover;

 }

 .info {
   width: 100%;
   font-size: larger;
   padding-left: 5%;
   margin-top: 10px;
 }

 .pop_box,
 .pop_box2 {
   width: 300px;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   gap: 5px;
   background-color: #b8b8b8ce;
   padding: 20px 30px;
   border-radius: 10px;
   box-shadow: 2px 3px 4px rgb(105, 88, 88);
   position: absolute;
   top: 40%;
   left: 50%;
   right: 50%;
   transform: translate(-50%, -50%);
   display: none;
   border: 1px solid grey;
 }

 .pop_box input {
   margin: 10px auto;
 }

 .pop_box2 {
   gap: 10px;

 }
 #changeImage{
  display: none;
 }

 .visible {
   display: block;
 }

 #btnC {
  background-color: rgba(4, 194, 4, 0.979);
  color: white;
}
#btnC:hover,.voteBtn:hover{
   background-color: rgba(20, 148, 20, 0.979);

 }
 .cancel,
 #btnC {
   outline: none;
   border: none;
   padding: 7px 12px;
   margin-left: 15px;
   border-radius: 6px;
   cursor: pointer;
   transition: transform 100ms ease;
   text-transform: capitalize;
 }


 .resultData{
  padding: var(--defPadding);

 }
 .resultData h2{
  font-size: 22px;
 }

 .result h3{
  font-size: 20px;
 }

 @media only screen and (max-width:800px) {
   .container {
     grid-template-columns: 1fr;

   }

   #title {
     font-size: 22px;
   }


 }

 @media only screen and (max-width:600px) {
   header {
     flex-direction: column;
     height: auto;
     gap: 5px;
   }
 }